.movie-app {
  text-align: center;
}

.movie-app-logo {
  animation: movie-app-logo-spin infinite 20s linear;
  height: 80px;
}

.movie-app-header {
  background-color: #222;
  color: white;
}

.movie-app-title {
  font-size: 1.5em;
}

.movie-app-intro {
  font-size: large;
}

.movies-container {
 text-align: justify;
 padding: 10px;
}
